flows.json
[{"id":"72f68ed7.acfa2","type":"tab","label":"Apple TV Remote","disabled":false,"info":""},{"id":"8ef1ca90.f6072","type":"function","z":"72f68ed7.acfa2","name":"process key events","func":"var output = [];\n\nvar report_id = msg.payload[2]\nvar keycode\n\n// get held down keys\nvar cur_keys = []\n\nif (report_id == 0x01) {\n    for (var i = 0;i<6;i++) {\n        var keycode = msg.payload[4+i]\n        if (keycode == 0x00) {\n            break;\n        }\n        cur_keys.push({report_id: report_id, keycode: keycode})\n    }\n\n} else if (report_id == 0x03) {\n    for (var i = 0;i<2;i++) {\n        var keycode = msg.payload[3+i*2] + (msg.payload[4+i*2] << 8)\n        if (keycode == 0x00) {\n            break;\n        }\n        cur_keys.push({report_id: report_id, keycode: keycode})\n    }\n}\n\nvar prev_keys = flow.get(\"keys\") || []\nvar down_keys = []\n\n// compare the received keys with the previous state\n// filter by report id because they're handled in separate hid reports\ncur_keys.forEach(key_info => {\n    var wasDown = prev_keys.find(cur_key_info => \n        cur_key_info.keycode == key_info.keycode && \n        cur_key_info.report_id == key_info.report_id\n    )\n    \n    var event = {\n        report_id: key_info.report_id, \n        keycode: key_info.keycode,\n        event: wasDown ? \"hold\" : \"down\"\n    }\n    \n    down_keys.push(event)\n    output.push(event)\n})\n\n// check the missing keys from the current hid packet\n// keys from other hid reports are considered as being held down\nprev_keys.forEach(key_info => {\n    var event = {\n        report_id: key_info.report_id, \n        keycode: key_info.keycode\n    }\n    \n    if (key_info.report_id != report_id) {\n        event.event = \"hold\"\n        down_keys.push(event)\n        output.push(event)\n    } else {\n        var isDown =  cur_keys.find(cur_key_info => \n            cur_key_info.keycode == key_info.keycode\n        ) \n        \n        if (!isDown) {\n            event.event = \"up\"\n            output.push(event)\n        }\n    }\n})\n\nflow.set(\"keys\", down_keys)\n\nreturn [{payload:output}];","outputs":1,"noerr":0,"x":130,"y":100,"wires":[["d4b5a5d4.22bb78"]]},{"id":"dec57853.f71548","type":"switch","z":"72f68ed7.acfa2","name":"handle events","property":"payload.key","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"msg.payload.key = \"volume_up\" and msg.payload.event = \"down\"","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.key = \"volume_down\" and msg.payload.event = \"down\"","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.key = \"mute\" and msg.payload.event = \"down\"","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.key = \"red\" and msg.payload.event = \"down\"","vt":"jsonata"},{"t":"jsonata_exp","v":"msg.payload.key = \"green\" and msg.payload.event = \"down\"","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":120,"y":320,"wires":[["30ffdaad.24d2ee","146418c7.a29717"],["9675e23a.6828b","146418c7.a29717"],["2f937825.4f3ef","146418c7.a29717"],["36840027.e7f8f8","146418c7.a29717"],["3479b52.53b4bca","146418c7.a29717"],["395512e0.f061f6"]]},{"id":"3479b52.53b4bca","type":"api-call-service","z":"72f68ed7.acfa2","name":"turn on amp and select Opt1","server":"4a4e43ca.a253ac","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.living_room_amp","data":"{\"source\":\"Opt1\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":280,"wires":[[]]},{"id":"30ffdaad.24d2ee","type":"api-call-service","z":"72f68ed7.acfa2","name":"","server":"4a4e43ca.a253ac","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_up","entityId":"media_player.living_room_amp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":40,"wires":[[]]},{"id":"9675e23a.6828b","type":"api-call-service","z":"72f68ed7.acfa2","name":"","server":"4a4e43ca.a253ac","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_down","entityId":"media_player.living_room_amp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":100,"wires":[[]]},{"id":"2f937825.4f3ef","type":"api-current-state","z":"72f68ed7.acfa2","name":"is_volume_muted","server":"4a4e43ca.a253ac","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_amp","state_type":"habool","state_location":"data.attributes.is_volume_muted","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":160,"wires":[["804080d0.78227"]]},{"id":"804080d0.78227","type":"api-call-service","z":"72f68ed7.acfa2","name":"","server":"4a4e43ca.a253ac","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_mute","entityId":"media_player.living_room_amp","data":"{\"is_volume_muted\": $not(msg.data.attributes.is_volume_muted)}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":160,"wires":[[]]},{"id":"36840027.e7f8f8","type":"api-call-service","z":"72f68ed7.acfa2","name":"toggle TV","server":"4a4e43ca.a253ac","version":1,"debugenabled":false,"service_domain":"media_player","service":"toggle","entityId":"media_player.living_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":220,"wires":[[]]},{"id":"1af23567.a1e7f3","type":"mqtt in","z":"72f68ed7.acfa2","name":"","topic":"usb-hid","qos":"1","datatype":"buffer","broker":"c7856d7b.90c4d8","x":90,"y":40,"wires":[["8ef1ca90.f6072"]]},{"id":"972e5bb3.7aef88","type":"mqtt out","z":"72f68ed7.acfa2","name":"","topic":"ble-hid","qos":"1","retain":"false","broker":"c7856d7b.90c4d8","x":910,"y":400,"wires":[]},{"id":"1fcfb621.32d6f2","type":"function","z":"72f68ed7.acfa2","name":"remap apple tv keys","func":"var keycode_map = {\n    \"menu\":     0x40,\n    \"ok\":       0x41,\n    \"exit\":     0x223,\n    \"back\":     0x46,\n    \"left\":     0x44,\n    \"up\":       0x42,\n    \"right\":    0x45,\n    \"down\":     0x43,\n    \"stop\":     0xb7,\n    \"play\":     0xB0,\n    \"pause\":    0xB1,\n    \"rewind\":   0xb4,\n    \"fast_forward\": 0xb3,\n    \"next\": 0xb5,\n    \"previous\": 0xb6,\n    0x00:       0x00\n}\n\nvar consumer_hid = [0x02, 0x00, 0x00, 0x00, 0x00]\nvar keys = msg.payload.filter(key_state => \n    !key_state.handled && keycode_map[key_state.key]\n).slice(0, 3)\n\nvar noop = keys.length == 0 || keys.filter(key_state =>\n    key_state.event == \"down\" || key_state.event == \"up\"\n).length == 0\n\nif (noop) {\n    return []\n}\n\nfor (var i in keys) {\n    var key_state = keys[i]\n    var keycode = keycode_map[key_state.key]\n\n    if (key_state.event == \"down\" || key_state.event == \"hold\") {\n        consumer_hid[1+i*2] = keycode & 0xff\n        consumer_hid[2+i*2] = keycode >> 8\n    }\n} \n\nreturn {payload: new Buffer(consumer_hid)};","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["972e5bb3.7aef88","d4b9e288.d249a8"]]},{"id":"f7d8eff8.93759","type":"split","z":"72f68ed7.acfa2","name":"split events","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":220,"wires":[["dec57853.f71548"]]},{"id":"395512e0.f061f6","type":"join","z":"72f68ed7.acfa2","name":"merge events for forwarding","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":440,"y":400,"wires":[["1fcfb621.32d6f2"]]},{"id":"146418c7.a29717","type":"change","z":"72f68ed7.acfa2","name":"consider event handled","rules":[{"t":"set","p":"payload.handled","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["395512e0.f061f6"]]},{"id":"d4b5a5d4.22bb78","type":"function","z":"72f68ed7.acfa2","name":"parse events","func":"var keymap = {\n    \"492\":\"off\",\n    \"488\":\"music\",\n    \"493\":\"pc\",\n    \"489\":\"media\",\n    \"4082\":\"light_1\",\n    \"4080\":\"increase\",\n    \"4084\":\"plug_1\",\n    \"4083\":\"light_2\",\n    \"4081\":\"decrease\",\n    \"4085\":\"plug_2\",\n    \"503\":\"red\",\n    \"502\":\"green\",\n    \"501\":\"yellow\",\n    \"500\":\"blue\",\n    \"154\":\"dvr\",\n    \"141\":\"guide\",\n    \"511\":\"info\",\n    \"148\":\"exit\",\n    \"101\":\"menu\",\n    \"233\":\"volume_up\",\n    \"82\":\"up\",\n    \"156\":\"channel_up\",\n    \"80\":\"left\",\n    \"79\":\"right\",\n    \"234\":\"volume_down\",\n    \"81\":\"down\",\n    \"157\":\"channel_down\",\n    \"88\":\"ok\",\n    \"226\":\"mute\",\n    \"548\":\"back\",\n    \"180\":\"rewind\",\n    \"176\":\"play\",\n    \"179\":\"fast_forward\",\n    \"178\":\"rec\",\n    \"177\":\"pause\",\n    \"183\":\"stop\",\n    \"30\":\"1\",\n    \"31\":\"2\",\n    \"32\":\"3\",\n    \"33\":\"4\",\n    \"34\":\"5\",\n    \"35\":\"6\",\n    \"36\":\"7\",\n    \"37\":\"8\",\n    \"38\":\"9\",\n    \"86\":\"dot\",\n    \"39\":\"0\",\n    \"40\":\"enter\"\n}\n\nmsg.payload.forEach(key_state =>\n    key_state.key = keymap[key_state.keycode]\n)\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":160,"wires":[["f7d8eff8.93759"]]},{"id":"d4b9e288.d249a8","type":"debug","z":"72f68ed7.acfa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":460,"wires":[]},{"id":"4a4e43ca.a253ac","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"c7856d7b.90c4d8","type":"mqtt-broker","z":"","name":"hass.blahhome.org","broker":"hass.blahhome.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
